bower_components/
node_modules/
typings/
src/services/*.js
src/services/*.map
src/*.js
src/*.map
tests/unit/services/*.js
tests/unit/services/*.map
tests/_test_all.js
tests/_test_all.js.map
tests/fakeApi/*.js
tests/fakeApi/*.map
